<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= @page_title %></title>

    <%= stylesheet_link_tag "common" %>
    
    <%= render :partial => 'layouts/includes/map' %>
    
    <%= javascript_include_tag "main", "reports", "utils" %>
    <%= javascript_include_tag :defaults%>
  </head>
  
  <% if params[:action] == 'index' %>
      <body>
  <% else %>
      <body onload="loadMap('<%= MAP_ENGINE %>', 'map');">
  <% end %>
  
  <%= render :partial => 'layouts/includes/header' %>
<ul id="submenu">
<% if params[:action] != 'index' %>

	<%= link_to_report('Trips', "trip")                     if @device.profile.trips %>
	<%= link_to_report('Readings', "all") %>
	<%= link_to_report('Stops', 'stop')                     if @device.profile.stops %>
	<%= link_to_report('Speeding', "speeding")              if @device.profile.speeds and @device.account.max_speed %>
	<%= link_to_report('Idling', "idle")                    if @device.profile.idles %>
	<%= link_to_report('Runtime', 'runtime')                if @device.profile.runs %>
	<%= link_to_report(@device.profile.gpio1_name, "gpio1") if @device.profile.gpio1_name %>
	<%= link_to_report(@device.profile.gpio2_name, "gpio2") if @device.profile.gpio2_name %>
	<%= link_to_report('Geofence', "geofence") %>
	<%= link_to_report('Maintenance', "maintenance")        if @device.account.show_maintenance? %>

<% end %>

	<% if params[:action] == 'maintenance' %>
		<li class='additional_report_nav'><a href="/maintenance/new/<%= @device.id %>" title="Create new maintenance task">Add Maintenance Task</a></li>
	<% end %>
	<% if @runtime_total %>
		<li class='additional_report_nav'>Runtime This Period: <%= minutes_to_hours(@runtime_total) %></li>
	<% end %>
</ul>
  
  <div id="content">
	<%= render :partial=>"/layouts/flash_message"%>    
    <%= yield %>
  </div>
  
  <%= render :partial => 'layouts/includes/footer' %>
  </body>
</html>
